.header {
    margin-top: 20px;
    display: flex;
}
.headerLogo {
    display: flex;
    align-items: center;
    height: 80px;
}
.headerLogo h1 {
    font-size: 24px;
    font-weight: bold;
}
.headerLogo p {
    font-size: 14px;
}

.userArea {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav {
    margin: 4px auto;
    padding-bottom: 8px;
    text-wrap: nowrap;
    overflow-y: auto;
}
.nav>a {
    display: inline-block;
    margin-right: 4px;
}
.nav li {
    display: inline-block;
    padding: 8px 16px;
    color: #777;
    border-radius: 4px;
}
.nav li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}